enable-pre-post-scripts=true
ignore-scripts=false
unsafePerm=true
onlyBuiltDependencies[]=@prisma/engines
onlyBuiltDependencies[]=argon2
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=prisma
onlyBuiltDependencies[]=protobufjs
onlyBuiltDependencies[]=sharp
onlyBuiltDependencies[]=unrs-resolver